.elementor-4996 .elementor-element.elementor-element-3531b709 {
    padding: 20px 90px 20px 90px;
}

.elementor-4996 .elementor-element.elementor-element-392a41db .pxl-logo img {
    max-height: 44px;
}

.elementor-4996 .elementor-element.elementor-element-392a41db>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-4996 .elementor-element.elementor-element-3c31d02a .pxl-text-editor .pxl-item--inner {
    max-width: 360px;
}

.elementor-4996 .elementor-element.elementor-element-3c31d02a .pxl-text-editor {
    color: #C4C4C4;
    font-size: 16px;
}

.elementor-4996 .elementor-element.elementor-element-3c31d02a>.elementor-widget-container {
    margin: 0px 0px 42px 0px;
}

.elementor-4996 .elementor-element.elementor-element-40d02c0 .pxl-icon-box .pxl-item--title {
    color: #FFFFFF;
}

.elementor-4996 .elementor-element.elementor-element-40d02c0 .pxl-icon-box .pxl-item--description {
    color: #C4C4C4;
}

.elementor-4996 .elementor-element.elementor-element-40d02c0>.elementor-widget-container {
    margin: 0px 0px 0px 24px;
    padding: 0px 0px 27px 0px;
}

.elementor-4996 .elementor-element.elementor-element-0201e3f .pxl-icon-box .pxl-item--title {
    color: #FFFFFF;
}

.elementor-4996 .elementor-element.elementor-element-0201e3f .pxl-icon-box .pxl-item--description {
    color: #C4C4C4;
}

.elementor-4996 .elementor-element.elementor-element-0201e3f>.elementor-widget-container {
    margin: 0px 0px 0px 24px;
    padding: 0px 0px 27px 0px;
}

.elementor-4996 .elementor-element.elementor-element-039902e .pxl-icon-box .pxl-item--title {
    color: #FFFFFF;
}

.elementor-4996 .elementor-element.elementor-element-039902e .pxl-icon-box .pxl-item--description {
    color: #C4C4C4;
}

.elementor-4996 .elementor-element.elementor-element-039902e .pxl-icon-box .pxl-item--icon i {
    font-size: 30px;
}

.elementor-4996 .elementor-element.elementor-element-039902e .pxl-icon-box .pxl-item--icon svg {
    height: 30px;
}

.elementor-4996 .elementor-element.elementor-element-039902e>.elementor-widget-container {
    margin: 0px 0px 0px 24px;
    padding: 0px 0px 44px 0px;
}

.elementor-4996 .elementor-element.elementor-element-8a67f87 .pxl-button .btn.btn-outline-gradient {
    --gradient-color-from: #FF9776;
    --gradient-color-to: #FF9776;
}

.elementor-4996 .elementor-element.elementor-element-8a67f87 .pxl-button .pxl-icon--left i,
.elementor-4996 .elementor-element.elementor-element-8a67f87 .pxl-button .pxl-icon--left svg {
    margin-right: 9px;
}

.elementor-4996 .elementor-element.elementor-element-8a67f87>.elementor-widget-container {
    margin: 0px 0px 0px 24px;
    padding: 0px 0px 50px 0px;
}

.elementor-4996 .elementor-element.elementor-element-20882f32 .pxl-icon1 a {
    color: #000000;
    background-color: #FFFFFF;
    width: 34px;
    height: 34px;
    font-size: 15px;
    border-radius: 34px 34px 34px 34px;
    margin: 5px 5px 5px 5px;
}

.elementor-4996 .elementor-element.elementor-element-20882f32 .pxl-icon1 a:hover {
    color: #000000;
    background-color: #FF9776;
}

.elementor-4996 .elementor-element.elementor-element-20882f32 .pxl-icon1 {
    margin-left: -5px;
    margin-right: -5px;
}

.elementor-4996 .elementor-element.elementor-element-20882f32>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-4996 .elementor-element.elementor-element-a137edc .pxl-close-popup:before,
.elementor-4996 .elementor-element.elementor-element-a137edc .pxl-close-popup:after {
    background-color: #FFFFFF;
}

.elementor-4996 .elementor-element.elementor-element-a137edc {
    width: auto;
    max-width: auto;
    top: -20px;
}

body:not(.rtl) .elementor-4996 .elementor-element.elementor-element-a137edc {
    right: 0px;
}

body.rtl .elementor-4996 .elementor-element.elementor-element-a137edc {
    left: 0px;
}