.elementor-4898 .elementor-element.elementor-element-0798d92>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4898 .elementor-element.elementor-element-0798d92 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 22px 0px 22px 0px;
}

.elementor-4898 .elementor-element.elementor-element-0798d92>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-4898 .elementor-element.elementor-element-4f814c7.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4898 .elementor-element.elementor-element-4f814c7.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4898 .elementor-element.elementor-element-4f814c7>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-4898 .elementor-element.elementor-element-d110269 .pxl-logo img {
    max-height: 36px;
}

.elementor-4898 .elementor-element.elementor-element-d110269>.elementor-widget-container {
    margin: 0% 0% 0% 0%;
}

.elementor-4898 .elementor-element.elementor-element-d110269 {
    width: auto;
    max-width: auto;
}

.elementor-4898 .elementor-element.elementor-element-c51dbd1 .pxl-anchor-button .pxl-icon-line::before,
.elementor-4898 .elementor-element.elementor-element-c51dbd1 .pxl-anchor-button .pxl-icon-line::after {
    background-color: #FFFFFF;
}

.elementor-4898 .elementor-element.elementor-element-c51dbd1 .pxl-anchor-button {
    color: #FFFFFF;
}

.elementor-4898 .elementor-element.elementor-element-c51dbd1 {
    width: auto;
    max-width: auto;
}

.elementor-4898 .elementor-element.elementor-element-bf98dce>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4898 .elementor-element.elementor-element-bf98dce:not(.elementor-motion-effects-element-type-background),
.elementor-4898 .elementor-element.elementor-element-bf98dce>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000D9;
}

.elementor-4898 .elementor-element.elementor-element-bf98dce {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 16px 0px 16px 0px;
}

.elementor-4898 .elementor-element.elementor-element-bf98dce>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-4898 .elementor-element.elementor-element-8f6148a.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4898 .elementor-element.elementor-element-8f6148a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4898 .elementor-element.elementor-element-8f6148a>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-4898 .elementor-element.elementor-element-568f68f .pxl-logo img {
    max-height: 32px;
}

.elementor-4898 .elementor-element.elementor-element-568f68f>.elementor-widget-container {
    margin: 0% 0% 0% 0%;
}

.elementor-4898 .elementor-element.elementor-element-568f68f {
    width: auto;
    max-width: auto;
}

.elementor-4898 .elementor-element.elementor-element-5d43429 .pxl-anchor-button .pxl-icon-line::before,
.elementor-4898 .elementor-element.elementor-element-5d43429 .pxl-anchor-button .pxl-icon-line::after {
    background-color: #FFFFFF;
}

.elementor-4898 .elementor-element.elementor-element-5d43429 .pxl-anchor-button {
    color: #FFFFFF;
}

.elementor-4898 .elementor-element.elementor-element-5d43429 {
    width: auto;
    max-width: auto;
}