.elementor-4902 .elementor-element.elementor-element-75da617>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-4902 .elementor-element.elementor-element-dcbfc36>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4902 .elementor-element.elementor-element-dcbfc36 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #464646CC;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4902 .elementor-element.elementor-element-dcbfc36>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4902 .elementor-element.elementor-element-d6232e9>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-4902 .elementor-element.elementor-element-4a6ebd8 .pxl-logo img {
    max-height: 32px;
}

.elementor-4902 .elementor-element.elementor-element-4a6ebd8>.elementor-widget-container {
    margin: 0px 45px 0px 0px;
}

.elementor-4902 .elementor-element.elementor-element-4a6ebd8 {
    width: auto;
    max-width: auto;
}

.elementor-4902 .elementor-element.elementor-element-5459de1 .pxl-nav-menu .pxl-menu-primary {
    text-align: center;
}

.elementor-4902 .elementor-element.elementor-element-5459de1 .pxl-nav-menu .pxl-menu-primary>li {
    float: none;
    margin: 0px 28px 0px 28px;
}

.elementor-4902 .elementor-element.elementor-element-5459de1 .pxl-nav-menu .pxl-menu-primary>li>a {
    color: #FFFFFF;
    line-height: 86px;
}

.elementor-4902 .elementor-element.elementor-element-5459de1 .pxl-menu-primary .sub-menu,
.elementor-4902 .elementor-element.elementor-element-5459de1 .pxl-menu-primary .children {
    background-color: #000000;
}

.elementor-4902 .elementor-element.elementor-element-5459de1>.elementor-widget-container {
    margin: 0px 90px 0px 0px;
}

.elementor-4902 .elementor-element.elementor-element-5459de1 {
    width: auto;
    max-width: auto;
}

.elementor-4902 .elementor-element.elementor-element-5a95be1 .pxl-anchor-button .pxl-icon-line::before,
.elementor-4902 .elementor-element.elementor-element-5a95be1 .pxl-anchor-button .pxl-icon-line::after {
    background-color: #FFFFFF;
}

.elementor-4902 .elementor-element.elementor-element-5a95be1 .pxl-anchor-button {
    color: #FFFFFF;
}

.elementor-4902 .elementor-element.elementor-element-5a95be1 {
    width: auto;
    max-width: auto;
}